<a href="https://colab.research.google.com/github/vanidevarakonda/python_list/blob/main/MLR(list_%2Ctuple_%2C_set%2C_dictionary).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **INTRODUCTION TO LIST** âœ…

#### lists are another one from sequential type. The elements in the list are separated by camma and closed by [] braces.List can store the different data types lets see some exampls....

In [ ]:
first_lst=[1,3,4,45,"hi",True,3.0]
first_lst

[1, 3, 4, 45, 'hi', True, 3.0]

In [ ]:
another_lst=["hello",23,3.4 ,False,45]
another_lst

['hello', 23, 3.4, False, 45]

## List indexing


Indexing work just like in strings.

A list index refers to the location of an element in a list.

Remember the indexing begins from 0 in Python.

The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

![listindex.png]()

In [ ]:
# consider list of strings

metrics=["Accuracy","precision","Recall","F1score","AUC_ROC_Score"]

print(metrics)

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score']

In [ ]:
metrics[0]

'Accuracy'

In [ ]:
metrics[3]

'F1score'

In [ ]:
metrics[-2]  ## index 3(from + side ) is same as -2 from -ve side

'F1score'

### LIST Slicing
 We can use a : to perform slicing which grabs everything up to a designated point.

The starting index is specified on the left of the : and the ending index is specified on the right of the :.

Remember the element located at the right index is not included i.e right side value always present (n-1)

if we use another second : it indicates step value means skipping of some part (n-1)

In [ ]:
metrics

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score']

In [ ]:
metrics[0:5]

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score']

In [ ]:
metrics[0:]

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score']

In [ ]:
metrics[:3]

['Accuracy', 'precision', 'Recall']

In [ ]:
metrics[1:1]

[]

In [ ]:
metrics[1:-4]

[]

In [ ]:
metrics[5:0:-1]## use step

['AUC_ROC_Score', 'F1score', 'Recall', 'precision']

In [ ]:
metrics[0:5:3]

['Accuracy', 'F1score']

In [ ]:
metrics[0:4:-1]

[]

### List Operations
 Remember we said that lists are mutable as opposed to strings. Lets see how can we change the elements of a list

 We can also use + to concatenate lists, just like we did for strings.

In [ ]:
print(metrics)

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score']

In [ ]:
print(metrics+["Rosh carporate","tarun"]) # concates at end off the list previous elements

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score', 'Rosh carporate', 'tarun']

In [ ]:
metrics ##just added but not store in metrics variable then how to do that

['Accuracy', 'precision', 'Recall', 'F1score', 'AUC_ROC_Score']

In [ ]:
metrics=metrics+['Rosh carporate']
metrics

['Accuracy',
 'precision',
 'Recall',
 'F1score',
 'AUC_ROC_Score',
 'Rosh carporate']

## list methods

### https://www.w3schools.com/python/python_ref_list.asp

In [ ]:
lis=[1,2,3,4,'ArithmeticError','amity','hello','hi',['a','b'],[1,2]]

##append()
Use the append() method to permanently add an item to the end of a list.

append() method takes the element which you want to add to the list as an argument

In [ ]:

lis.append(2)
lis.append("lova")  ## appends as  last element of list
lis

[1,
 2,
 3,
 4,
 'ArithmeticError',
 'amity',
 'hello',
 'hi',
 ['a', 'b'],
 [1, 2],
 2,
 'lova']

##pop()
Use pop() to "pop off" an item from the list.

By default pop() takes off the element at the last index, but you can also specify which index to pop off.

pop() takes the index as an argument and returns the elenent which was popped off.

In [ ]:
lis.pop(2)

4

In [ ]:
lis.remove("hi")

In [ ]:
lis

[1, 3, 'ArithmeticError', 'amity', 'hello', ['a', 'b'], [1, 2], 2]

In [ ]:
lis.pop(6)

'hi'

In [ ]:
lis

[1,
 2,
 3,
 4,
 'ArithmeticError',
 'hello',
 ['a', 'b'],
 [1, 2],
 2,
 2,
 'ji',
 2,
 'lova',
 2]

## extend()
Use the extend() method to merge a list to an existing list

extend() method takes a list or any iterable(don't worry about it now) as an argument.

Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
lis.extend(2)

TypeError: 'int' object is not iterable

In [ ]:
lis.extend([2]) #how many times it runs it add those elements that many times end of list
lis

[1, 3, 'ArithmeticError', 'amity', 'hello', ['a', 'b'], [1, 2], 2, 2]

## insert()
The insert() method inserts the specified value at the specified position.

In [ ]:
lira=[4,5,5,6,7]## elements are moved to next position
lira.insert(1,"hi")

In [ ]:
lira

[4, 'hi', 5, 5, 6, 7]

In [ ]:
lira.insert(2,"hello")

In [ ]:
lira

[4, 'hi', 'hello', 5, 5, 6, 7]

##clear()
Removes all the elements from the list

In [ ]:
lira.clear()

In [ ]:
lira

[]

## zip @ Enumerate

### zip work for more than two lists and  create the low size input tuples

In [ ]:
### getting memory location
ki=[1,2,3,4]
ki1=[3,4,4,5]
l1=zip(ki,ki1)
print(l1)

<zip object at 0x795f9328fd00>

In [ ]:
### by using list or
ki=[1,2,3,4,3]
ki1=[3,4,4,5]
li=[1,2,3]
l1=list(zip(ki,ki1,li))

print("list of",l1)

list of [(1, 3, 1), (2, 4, 2), (3, 4, 3)]

## enumerate

In [ ]:
l1=[4,5,6,7,8,9]

list(enumerate(l1))

[(0, 4), (1, 5), (2, 6), (3, 7), (4, 8), (5, 9)]

In [ ]:
l2=('hey','john','fred')
list(enumerate(l2,start=1))

[(1, 'hey'), (2, 'john'), (3, 'fred')]

## sort @ sorted

In [ ]:
l1=[22,3,4,51,6,71,8,9,10,"hi"] #### original one chenges its order

l1.sort() # Output:
print(l1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l1=[22,3,4,51,6,71,8,9,10] #### original one chenges its order

l1.sort(reverse=True) # Output:
print(l1)

[71, 51, 22, 10, 9, 8, 6, 4, 3]

In [ ]:
l2=[222,1,3,4,22,5,10] ## original one not chnges its order
print(l2)
print(sorted(l2))

[222, 1, 3, 4, 22, 5, 10]
[1, 3, 4, 5, 10, 22, 222]

In [ ]:
len(l2)

7

#**tuple**

Constructing Tuples
The construction of a tuples use () with elements separated by commas.

In [ ]:
# Create a tuple
ab=("raju","ravi",1,2,3,7.8)
print(ab)

type(ab)

('raju', 'ravi', 1, 2, 3, 7.8)

tuple

##Tuple Indexing
Indexing work just like in lists

A tuple index refers to the location of an element/or Items in a tuple

. Remember the indexing begins from 0 in Python

. The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

## https://www.w3schools.com/python/python_ref_tuple.asp

In [ ]:
print(ab)
('raju', 'ravi', 1, 2, 3, 7.8)

In [ ]:
# Grab the element at index 0, which is the FIRST element
ab[0]
'raju'

'raju'

In [ ]:

ab[0][1]
'a'

'a'

In [ ]:
# Grab the element at the index -3, which is the THIRD LAST element
print(ab[-3])

2

In [ ]:
print(ab[6])

IndexError: tuple index out of range

##tuple operations

In [ ]:
## concatenation
a=(1,2,3,7.8)
print(a+ab)

(1, 2, 3, 7.8, 'raju', 'ravi', 1, 2, 3, 7.8)

In [ ]:
ab

('raju', 'ravi', 1, 2, 3, 7.8)

In [ ]:
### multiplication with integer
print(a*2)

(1, 2, 3, 7.8, 1, 2, 3, 7.8)

##index()
Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
abc=(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')
abc.index(11.5)

5

##count()
Returns the number of times a specified value occurs in a tuple

In [ ]:
abc=(1,1,2, 2,2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')
abc.count(1)

2

#sets

### Key Properties of Sets:

1. **Uniqueness**: Sets only contain unique elements. If you try to add a duplicate, it will be ignored.
2. **Unordered**: Elements in a set have no specific order. The order of elements when iterated is not guaranteed.
3. **Mutable**: Elements can be added or removed from a set after its creation.
4. **Iterability**: Sets can be iterated using loops, allowing you to access each element.

In [ ]:
s = {1,23}
type(s)

set

In [ ]:
d = {1:2 ,4:"b"}
type(d)

dict

In [ ]:
s1 = {}
type(s1)

dict

In [ ]:
s2 =set()
type(s2)

set

In [ ]:
s3 ={1,2, "price",(1,23,4)}
print(s3)

{1, 2, 'price', (1, 23, 4)}

In [ ]:
my_set = set([1,23,5,"price "])
type(my_set)

set

In [ ]:
l =[1,2,34,5]
l1 =set(l)
type(l1)

set

In [ ]:
# uniqueness

s = {1,2,3,43,43,34,343,43,43}
print(s)

{1, 2, 3, 34, 343, 43}

In [ ]:
# unordered
s1 = {4,3,2,1,35,35 ,4}
print(s1)

{1, 2, 3, 4, 35}

In [ ]:
s1[0] = 90

TypeError: 'set' object does not support item assignment

### Where and When to Use Sets

1. **Removing Duplicates**:
    - Use sets when you need to store a collection of unique elements and automatically handle duplicates.

        ```
        
2. **Fast Membership Testing**:
    - Sets offer faster membership testing (`in` operator) compared to lists or tuples.

        
3. **Mathematical Operations**:
    - Sets are ideal for performing mathematical operations like union, intersection, difference, and symmetric difference.
4. **Handling Large Datasets**:
    - Sets are highly efficient for operations that involve large datasets, where you need to compare, combine, or deduplicate data.

In [ ]:
l =[1,3,42,3,453,23,23,23,25,34,3,53,54,54,43]

l1 =set(l )

In [ ]:
l1

{1, 3, 23, 25, 34, 42, 43, 53, 54, 453}

In [ ]:
for i in range(1,1000):
    print(i)

In [ ]:
500 in set(range(1,1000 ))

True

In [ ]:
l1 =set(range(1,1000))
l2 =set(range(500,5000))


l1 & l2

In [ ]:
l1.intersection(l2)

In [ ]:
range(1,10000000)

## methods

 1. **`add(element)`**
    - Adds a single element to the set. If the element is already present, it does nothing.

In [ ]:
s={1,2,3,4,2,6}
s.add(76)

s

In [ ]:
s.add(76)

In [ ]:
s

{1, 2, 3, 4, 6, 76}

2. **`remove(element)`**
    - Removes a specific element from the set. Raises a `KeyError` if the element is not found.

    
3. **`discard(element)`**
    - Removes a specific element from the set, but does not raise an error if the element is not found.
    

    
4. **`pop()`**
    - Removes and returns an arbitrary element from the set. Raises a `KeyError` if the set is empty.

    
5. **`clear()`**
    - Removes all elements from the set, leaving it empty.

In [ ]:
s.remove(76)

KeyError: 100

In [ ]:
s.remove(76)

KeyError: 76

In [ ]:
s.discard(76)

In [ ]:
s

{1, 2, 3, 4, 6}

In [ ]:
s.clear()

In [ ]:
s

set()

In [ ]:
s.add(5)
s

{5}

In [ ]:
s.pop()

5

In [ ]:
s.pop()

KeyError: 'pop from an empty set'

### Operators on Sets

1. **Union (`|`)**:
    - Combines elements from both sets.

2. **Intersection (`&`)**:
    - Finds common elements between sets.

In [ ]:
set1 ={1,2,3}
set2 ={3,5,6}
print(set1 | set2)

{1, 2, 3, 5, 6}

In [ ]:
set1 ={1,2,3}
set2 ={3,5,6}

print(set1 &set2)

{3}

In [ ]:
set1 ={1,2,3}
set2 ={3,5,6}

print(set1 -set2)

{1, 2}

In [ ]:

print(set1 ^set2)

{1, 2, 5, 6}

3. **Difference (``)**:
    - Returns elements in the first set but not in the second.

4. **Symmetric Difference (`^`)**:
    - Returns elements in either set but not in both.

In [ ]:
s3 ={3,7,8}

In [ ]:
set1.union(set2,s3)

{1, 2, 3, 5, 6, 7, 8}

In [ ]:
set1.intersection(set2)

{3}

In [ ]:
set1.difference(set2)

{1, 2}

In [ ]:
set1.symmetric_difference(set2)

{1, 2, 5, 6}

# Introduction to Dictionaries âœ…

> Constructing a Dictionary

> A dictionary object is constructed using curly braces {key1:value1,key2:value2,key3:value3}

> what is Dictionary : ** mapping of one to one relationship b/w key ,value pair is called dictionay**

> what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects

In [ ]:
# Make a dictionary with {} and : to signify a key and a value

marvel_dict = {'Name':'Thor'   ,  'Place':'Asgard',  'Weapon' : 'Hammer',     1:2,    3 : 'power',    'super_heros' : ['Ironman','Captain America'],  'abc' : {1:2, 4:5}}

In [ ]:
marvel_dict["Name"]

'Thor'

In [ ]:
marvel_dict["super_heros"]

['Ironman', 'Captain America']

In [ ]:
marvel_dict ['Weapon']

'Hammer'

In [ ]:
marvel_dict["abc"]

{1: 2, 4: 5}

In [ ]:
type(marvel_dict)

dict

# Dictionary Methods

# keys()

> keys() method returns the list of keys in the dictionary object

In [ ]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'super_heros', 'abc'])

In [ ]:
list(marvel_dict.keys())

['Name',
 'Place',
 'Weapon',
 1,
 3,
 'super_heros',
 'abc',
 'Designation',
 'Salary',
 'ravi']

# values()

> values() method returns the list of values in the dictionary object

In [ ]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'super_heros': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [ ]:
marvel_dict.values()

dict_values(['Thor', 'Asgard', 'Hammer', 2, 'power', ['Ironman', 'Captain America'], {1: 2, 4: 5}])

In [ ]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

# items()

> items() method returns the list of the keys and values

In [ ]:
# Get the keys and their corresponding values
marvel_dict.items()

dict_items([('Name', 'Thor'), ('Place', 'Asgard'), ('Weapon', 'Hammer'), (1, 2), (3, 'power'), ('super_heros', ['Ironman', 'Captain America']), ('abc', {1: 2, 4: 5})])

In [ ]:
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('super_heros', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

>> NOTE::We can also use the get() method to extract a particular value of key-value pair.

# get()

>> get() method takes the key as an argument and returns None if the key is not found in the dictionary

>>We can also set the value to return if a key is not found. This will be passed as the second argument in get()

In [ ]:
marvel_dict.get('Place')

'Asgard'

In [ ]:
marvel_dict.get('Place',"found")

'Asgard'

In [ ]:
marvel_dict.get('Place',"notfound")

'Asgard'

In [ ]:
marvel_dict.get('Random','Not Found')

'Not Found'

In [ ]:
# Add a new key

marvel_dict['Designation'] ='Data Scientist'

In [ ]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'super_heros': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}, 'Designation': 'Data Scientist'}

In [ ]:
marvel_dict.get('Weapon','not found')

'Hammer'

In [ ]:
marvel_dict

{'Name': 'Thor',
 'Place': 'Asgard',
 'Weapon': 'Hammer',
 1: 2,
 3: 'power',
 'super_heros': ['Ironman', 'Captain America'],
 'abc': {1: 2, 4: 5},
 'Designation': 'Data Scientist'}

# another way to add new key

# update()

> You can add an element which is a key-value pair using the update() method

> This method takes a dictionary as an argument

In [ ]:
marvel_dict.update({'Salary':'12,00,000',"ravi":"kumar"})

In [ ]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'super_heros': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}, 'Designation': 'Data Scientist', 'Salary': '12,00,000', 'ravi': 'kumar'}

In [ ]:
len(marvel_dict)

10

In [ ]:
d1= {'name': "laxman" , 'MCA' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}

d1

d2=d1.copy()

In [ ]:
d2

{'name': 'laxman',
 'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

# remove specific dictionary items and change of key names and deleting entire dictionary

In [ ]:
del d1["name"]

In [ ]:
d1

{'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [ ]:
d2

{'name': 'laxman',
 'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [ ]:
d2.pop("name")

d2

{'MCA': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

# updating key name

In [ ]:
d2["skills"]=d2.pop("MCA")

In [ ]:
d2

{'skills': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [ ]:
del d2       # it will delete the total dictinary , u will get name Error

In [ ]:
print(d2)

NameError: name 'd2' is not defined

In [ ]:
d1.clear()    # it will clear the dictionary
print(d1)

{}

In [ ]:
d2={["laxman"]:"name",1:2}    # we can't use list as key

TypeError: unhashable type: 'list'

In [ ]:
d3={(1,2,3):"marks"}
d3

{(1, 2, 3): 'marks'}

In [ ]:
d3[(1,2,3)]

'marks'

In [ ]:
d3[(1)] ,d3[(2)], d3[(3)]

KeyError: 1

In [ ]:
d4= {{12}:"marks"}     # we can't use set as key
d4

TypeError: unhashable type: 'set'

In [ ]:
d1= {'name': "laxman" , 'MCA' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}

d1

d2=d1.copy()

In [ ]:
d1+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'